## Collections:->
### 1.list
### 2.tuple
### 3.dictionary
### 4.Sets

# List:-> 
#####       1.List is a collection ,it is used to store collection of data.
####        2.It is ordered and changable.
####        3.In python list is written in square brackets i.e([])
####        4.list is similar to arrays
####        5.list index starts from 0 to size-1

##### 1.How to create empty list
#### Syntax of create one empty list:
#### variable_name=[]

In [1]:
l1=[]

In [2]:
type(l1)

list

### how to assign values to the list
### list_name=[value1,value2....]

In [4]:
list1=[10,20,"welcome",10.2,"srit"]
print(list1)

[10, 20, 'welcome', 10.2, 'srit']

* How to access the values from the list
* syntax: list_name[index_value]

In [5]:
list1[2]

'welcome'

In [6]:
print(list1)

[10, 20, 'welcome', 10.2, 'srit']

In [7]:
list1[4]

'srit'

* How to access with in the range of values
* syntax: list_name[lowerbound:upper_bound]

In [8]:
list1[0:3]

[10, 20, 'welcome']

In [9]:
list1

[10, 20, 'welcome', 10.2, 'srit']

* In forward index position starts from 0.
* In backward index position starts from -1.

In [10]:
list1[-2]

10.2

In [11]:
list1[-1:-3]

[]

In [15]:
list1[-3:]

['welcome', 10.2]

In [13]:
list1

[10, 20, 'welcome', 10.2, 'srit']

* len->To find the length of the list
* len(list_name)

In [16]:
len(list1)

5

In [17]:
list2=[10,15,2,18,50]

In [18]:
list2

[10, 15, 2, 18, 50]

In [19]:
max(list2) # To find the maximum number of given list

50

In [20]:
min(list2)# To find the minimum number of given list

2

In [21]:
sum(list2)# To find the sum

95

In [22]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

* append: To add the element in the end of list.
* syntax: list_name.append(element)

In [23]:
l1

[]

In [24]:
l1=[10,20,15,4,25,80]
l1

[10, 20, 15, 4, 25, 80]

In [25]:
l1.append(43)

In [26]:
l1

[10, 20, 15, 4, 25, 80, 43]

* insert: It is used to insert an element in specific position.
* syntax: list_name.insert(position,element)

In [27]:
l1.insert(1,25)

In [28]:
l1

[10, 25, 20, 15, 4, 25, 80, 43]

* count: To count the number of times occurs of given element in the list.
* syntax: list_name.count(element)

In [29]:
l1.count(25)

2

In [30]:
l1.count(20)

1

In [31]:
l1.count(100)

0

* extend-> to add the multiple values in end of the list.
* syntax: list_name.extend([value1,value2....])

In [32]:
l1

[10, 25, 20, 15, 4, 25, 80, 43]

In [33]:
l1.extend([300,400,500])

In [34]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400, 500]

In [35]:
l2=["ranga","mastan"]
l1.extend(l2)

In [36]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400, 500, 'ranga', 'mastan']

* index: It returns the index position of given value.
* syntax: list_name.index(element)

In [40]:
l1.index(25)

1

* pop: To delete an element from the list
* syntax: list_name.pop()-> Delete an element from end of the list
* syntax: list_name.pop(index_position)-> To delete particular index position.

In [41]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400, 500, 'ranga', 'mastan']

In [42]:
l1.pop()

'mastan'

In [43]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400, 500, 'ranga']

In [44]:
l1.pop(10)

500

In [45]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400, 'ranga']

* syntax of remove method: list_name.remove(element_name)

In [47]:
l1.remove("ranga")

In [48]:
l1

[10, 25, 20, 15, 4, 25, 80, 43, 300, 400]

In [49]:
l1.remove(11)

ValueError: list.remove(x): x not in list

* reverse: to print reverse of agiven list
* syntax: list_name.reverse()

In [50]:
l1.reverse()

In [51]:
l1

[400, 300, 43, 80, 25, 4, 15, 20, 25, 10]

* sort: To print all list of elements in ascending or descending order.
* syntax: list_name.sort()->It returns only in ascending order.
* syntax: list_name.sort(reverse=True)->It returns in descending order.

In [52]:
l1

[400, 300, 43, 80, 25, 4, 15, 20, 25, 10]

In [53]:
l1.sort()

In [54]:
l1

[4, 10, 15, 20, 25, 25, 43, 80, 300, 400]

In [55]:
l1.sort(reverse=True)

In [56]:
l1

[400, 300, 80, 43, 25, 25, 20, 15, 10, 4]

* copy: It is used copy the data from one list to another list.
* syntax: new_listname=old_listname.copy()

In [57]:
l1

[400, 300, 80, 43, 25, 25, 20, 15, 10, 4]

In [58]:
l2=l1.copy()

In [59]:
l2

[400, 300, 80, 43, 25, 25, 20, 15, 10, 4]

* clear: To clear the data from the list..
* synatx: list_name.clear()

In [60]:
l2

[400, 300, 80, 43, 25, 25, 20, 15, 10, 4]

In [61]:
l2.clear()

In [62]:
l2

[]

In [65]:
# How to access values from the list using loop.
# syntax: for variable_name in list_name:
#             print(variable_name)
l1=[10,20,10,23,45,67,10]
for p in l1:
    print(p,end=",")

10,20,10,23,45,67,10,

In [66]:
#Tasks:
#1.Create a function to find the largest element in the list
            #findinglargestintheList():
#2.Create a function to find the lowest element in the list
#3.create a function to find the second largest in the list
        #l = [20,30,40,50,80,10,90]
#4.create a function to find the Third largest in the list
        #l = [10,20,30,10,10,20,30,40,30]
    
#5.create function find the kth largest of list
        #l = [10,50,20,30,60,80,100,500,89,47]
        # k = 2
#6.create function to find the kth lowest of list

In [67]:
l = input().split()
l

10 20 30 40 50

['10', '20', '30', '40', '50']

In [68]:
def addition():
    a = 10
    b = 50
    print(a+b)
addition()

60

In [70]:
#With Arguments and with return statement
def addition(a,b):
    return a+b
addition(10,40)

50

In [71]:
#with arguments and with out vreturn value
def addtition(a,b):
    print(a+b)
addition(10,40)

50

In [72]:
#with out argument and with return statement
def addition():
    a = 10
    b = 30
    return a+b
addition()

40

In [7]:
l = [20,40,30,50]

l = l.sort()
l

In [10]:
#5.create function find the kth largest of list
        #l = [10,50,20,30,60,80,100,500,89,47]
        # k = 2
def findingKikthLathest(l,k):
    l.sort(reverse = True)
    print(l[k-1])
l = [10,50,20,30,60,80,100,500,89,47]
k = int(input())
findingKikthLathest(l,k)

3
89

In [22]:
# 4.create a function to find the Third largest in the list
#         #l = [10,20,30,10,10,20,30,40,30]
def findingThirdLargest(l):
    unique_list = []
    for i in l:
        if i not in unique_list:
            unique_list.append(i)
    m = sorted(unique_list,reverse = True)
    return m[3-1]
findingThirdLargest([10,20,30,10,10,20,30,40,30])

20

In [ ]:
40,30,30,30,20,20,10,10,10